<!-- Include Header partial -->
<%- include("partials/header.ejs")%>

<!-- Main body -->
<!-- Date as the title -->
<div class="list-title">
  <% if (locals.today && locals.month) { %>
    <h1>A Really Simple To-Do</h1>
    <h2><%=today%>, <%=month%> <%=new Date().getDate()%></h2>
  <% } %>
</div>
<!-- Outer container for the list -->
<div class="list-display">
  <% if (locals.toDoList) { %>
    <% for (var i = 0; i < toDoList.length; i++) { %>
      <!-- This is the individual list box -->
      <div class="list-box">
        <input type="checkbox" name="checkbox" class="checkbox"><span class="list-item"><%= toDoList[i]%></span>
      </div>
    <% } %>
  <% } %>
  <!-- Add task action is done using this form -->
    <form action="/addtask" method="POST" class="form-input-div">
      <div class="input-field-div">
        <input type="text" name="list-item" placeholder="Type something & press ↵ Enter">
      </div>
      <div class="btn-div">
        <button type="submit" name="list" class="add-button"><i class="fa-solid fa-plus add-icon"></i></button>
      </div>
    </form>
</div>

<!-- Include Footer Partial -->
<%- include("partials/footer.ejs")%>